
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="box.css" />
    <title>課題提出５−８</title>
  </head>
  <body>

  <h1>ようこそ <strong>Bookers</strong>  へ！</h1>

  <p>
    <strong>Bookers</strong>
    では、さまざまな書籍に関するあなたの意見や<br>
    印象を共有し交換することができます
  </p>
  <p>
   <%= link_to 'start', books_path %>
  </p>
  </body>
</html>